.counter {
    border: 1px solid black;
    padding: 30px;
    width: 60%;
    margin: 40px auto;
}

.counter span {
    color: red;
    margin-left: 10px;
}

.counter p {
    margin: 0;
}

button {
    padding: 10px 40px;
    margin: 20px 10px;
    border: 0;
    color: white;
    text-transform: uppercase;
    background-color: rgb(61, 57, 57);
    transition: .3s;
}

button:hover {
    background-color: rgb(112, 112, 112);
}